<html>
	<head>
		<title>Demo</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
		<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<h1>Test Demo App</h1>
			<label for="handle">Handle:</label>
			<input type="text" name="handle" class="form-control" id="handle" />
			<label for="key">User Private Key:</label>
			<input type="text" name="key" class="form-control" id="key" />
			<p><a href="#" id="link-account" class="btn btn-primary">Test link account</a></p>
		</div>
	</body>
	<script>
		$(document).ready(function(){
			console.log('page is loaded ...');
			var handler = Plaid.create({
			clientName: 'Plaid Quickstart',
			env: 'sandbox',
			key: 'fa9dd19eb40982275785b09760ab79',
			product: ['auth'],
			// Optional – use webhooks to get transaction and error updates
			webhook: 'https://requestb.in',
			onLoad: function() {
			// Optional, called when Link loads
			},
			onSuccess: function(public_token, metadata) {
			// Send the public_token to your app server.
			// The metadata object contains info about the institution the
			// user selected and the account ID or IDs, if the
			// Select Account view is enabled.
			console.log({
				 "public_token": public_token,
				 "user_handle": $('#handle').val(),
				 "private_key": $('#key').val(),
			});
			// $.post('/linkAccount', {
			// 	 "public_token": public_token,
			// 	 "user_handle": $('#handle').val(),
			// 	 "private_key": $('#key').val(),
			// });
			$.ajax({
				type: 'POST',
				url: '/linkAccount',
				data:JSON.stringify({
					public_token: public_token,
					user_handle: $('#handle').val(),
					private_key: $('#key').val(),
				}),
				dataType: 'json',
				contentType: 'application/json;charset=utf-8',
				success: function(res) {
					console.log('success');
				},
				failure: function(err) {
					console.log('error');
				},
			});
			},
			onExit: function(err, metadata) {
			// The user exited the Link flow.
			if (err != null) {
				// The user encountered a Plaid API error prior to exiting.
			}
			// metadata contains information about the institution
			// that the user selected and the most recent API request IDs.
			// Storing this information can be helpful for support.
			},
			onEvent: function(eventName, metadata) {
			// Optionally capture Link flow events, streamed through
			// this callback as your users connect an Item to Plaid.
			// For example:
			// eventName = "TRANSITION_VIEW"
			// metadata  = {
			//   link_session_id: "123-abc",
			//   mfa_type:        "questions",
			//   timestamp:       "2017-09-14T14:42:19.350Z",
			//   view_name:       "MFA",
			// }
			}
		});

		$('#link-account').on('click', function(e) {
			handler.open();
		});
	});
	</script>
</html>