name: SonarQube Scan
on:
  push:
    branches:
      - master # or the name of your main branch
      - develop
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    
jobs:
  build:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      # If you wish to fail your job when the Quality Gate is red, uncomment the
      # following lines. This would typically be used to fail a deployment.
      # - uses: sonarsource/sonarqube-quality-gate-action@master
      #   timeout-minutes: 5
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  request:
    name: Request reviews on opened PRs
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Create PR review request
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_FOR_AUTO_REQUEST_REVIEW }}
        run: |
          gh pr edit ${{ github.event.pull_request.html_url }} \
            --add-reviewer Sila-Money/sdks